<a href="https://colab.research.google.com/github/extrajp2014/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module1-afirstlookatdata/LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things
x= 1
dir()

['Dataset',
 'In',
 'Out',
 '_',
 '_14',
 '_15',
 '_16',
 '_2',
 '_23',
 '_24',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'california_housing_dataframe',
 'cm',
 'display',
 'exit',
 'get_ipython',
 'gridspec',
 'math',
 'metrics',
 'np',
 'pd',
 'plt',
 'print_function',
 'quit',
 'tf',
 'x']

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
import pandas as pd
import numpy as np

california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.3,34.2,15.0,5612.0,1283.0,1015.0,472.0,1.5,66900.0
1,-114.5,34.4,19.0,7650.0,1901.0,1129.0,463.0,1.8,80100.0
2,-114.6,33.7,17.0,720.0,174.0,333.0,117.0,1.7,85700.0
3,-114.6,33.6,14.0,1501.0,337.0,515.0,226.0,3.2,73400.0
4,-114.6,33.6,20.0,1454.0,326.0,624.0,262.0,1.9,65500.0

In [0]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2120,-117.3,33.7,10.0,516.0,107.0,282.0,96.0,4.3,125000.0
13914,-122.0,37.6,24.0,8444.0,1492.0,4446.0,1491.0,4.7,240300.0
4730,-118.1,33.9,33.0,2263.0,511.0,1626.0,457.0,3.6,172800.0
8073,-118.4,34.0,14.0,3771.0,1180.0,2355.0,978.0,3.2,287500.0
16452,-122.6,38.5,17.0,1528.0,264.0,606.0,251.0,6.6,341500.0

In [0]:
?np.random.permutation

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

The main purpose of these codes is to shuffle data obtained from a dataset file, https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv.  Shuffling data can be useful for testing purpose or creating new pattern.  The main library function used to achieve our task is np.random.permutation.  Sample codes and instruction is available by running the code "??np.random.permutation"

2.  What was the most challenging part of what you did?

The most challenging part is to comprehend the documention and apply it to your code without error.

3.  What was the most interesting thing you learned?

There is a lot of advance python library that I need to learn.

4.  What area would you like to explore with more time?

Machine learning

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about